body {
  background-color: #EAF6F6;
}

h1 {
  color: #F76B8A;
}

h3 {
  color: #66BFBF;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 3px;
  width: 2%;
}
